body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dimmed.dimmable>.ui.animating.dimmer, .dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer {
  display: flex!important;
}

.ui.active.modal {
  margin-top: 15px!important;
}